</div>
    <div class="footer-padding mt-5">
        <div class="footer text-center py-2 bg-dark"> 
            <p class="text-light">Made with ❤️ by Harshita</p>
        </div>
    </div>

</body>
</html>