<%- include('partials/header.ejs') %>

<h1 class="text-center">ABOUT US</h1>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="">
            <div class="row d-flex">
                <div class="col-lg-6 col-md-6 d-flex ">
                    <!-- <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end" style="background-image:url('https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');">
                    </div> -->
                    <img id="bulb-img" src="https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
                </div>
                <div class="col-lg-6 col-md-6 pl-md-5 py-md-5">
                    <div class="row justify-content-start pt-3 pb-3">
                        <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
                            <span class="subheading">Welcome to BlogShare Hub</span>
                            <h2 class="mb-4">We give you the best experience you want.</h2>
                            <p class="mt-3 text-center">Unleash your creativity and create abundance of Blogs</p>
                            <div class="tabulation-2 mt-5">
                                <ul class="nav nav-pills nav-fill d-md-flex d-block">
                                    <li class="nav-item mb-md-0 mb-2">
                                        <a class="nav-link py-2 active show" data-toggle="tab" href="#home1">Our Mission</a>
                                    </li>
                                    <li class="nav-item px-lg-2 mb-md-0 mb-2">
                                        <a class="nav-link py-2 show bg-outline-dark" data-toggle="tab" href="#home2">Our Vision</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link py-2 mb-md-0 mb-2 show" data-toggle="tab" href="#home3">Our Value</a>
                                    </li>
                                </ul>
                                <div class="tab-content bg-light rounded mt-2">
                                    <div class="tab-pane container p-0 active show" id="home1">
                                    <p>To service the people with best personalised blog website where they can write the blogs for themselves to read and acknowledge later.</p>
                                    </div>
                                    <div class="tab-pane container p-0 fade" id="home2">
                                    <p>Our vision is provide people a site where they can share the blogs and people around the world can read them , it will give them the sense of relax.</p>
                                    </div>
                                    <div class="tab-pane container p-0 fade" id="home3">
                                        <p>"Empowering minds through insightful narratives, our blog website fosters intellectual growth and community engagement.".</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container-lg">
        <div class="row">
            <div class="col-sm-12">
                <h2>See What <b>Our Customers</b> Say About Us</h2>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="testimonial-wrapper">
                                        <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante, commodo iacul viverra.</div>
                                        <div class="media">
                                            <img src="https://photoheads.co.uk/wp-content/uploads/2020/05/headshot-with-client-testimonial.jpg" class="mr-3" alt="">
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Paula Wilson</b></div>
                                                    <div class="details">Media Analyst / SkyNet</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>										
                                            </div>
                                        </div>
                                    </div>								
                                </div>
                                <div class="col-sm-6">
                                    <div class="testimonial-wrapper">
                                        <div class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat faucibus, metus id mi gravida.</div>
                                        <div class="media">
                                            <img src="https://th.bing.com/th/id/OIP.ENh7Z_mYsgK21AD1ORdtSAAAAA?pid=ImgDet&w=400&h=400&rs=1" class="mr-3" alt="">
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Antonio Moreno</b></div>
                                                    <div class="details">Web Developer / SoftBee</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>								
                                </div>
                            </div>			
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="testimonial-wrapper">
                                        <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante, commodo iacul viverra.</div>
                                        <div class="media">
                                            <img src="https://th.bing.com/th/id/OIP.q6Z5BzLEsd5OhnVtn6_a5gAAAA?pid=ImgDet&rs=1" class="mr-3" alt="">
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Michael Holz</b></div>
                                                    <div class="details">Web Developer / DevCorp</div>											
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>								
                                </div>
                                <div class="col-sm-6">
                                    <div class="testimonial-wrapper">
                                        <div class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat faucibus, metus id mi gravida.</div>
                                        <div class="media">
                                            <img src="https://th.bing.com/th/id/OIP.y1xtH50TZYn_0vVpGu-UTwHaE7?pid=ImgDet&rs=1" class="mr-3" alt="">
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Mary Saveley</b></div>
                                                    <div class="details">Graphic Designer / MarsMedia</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>										
                                            </div>
                                        </div>
                                    </div>								
                                </div>
                            </div>			
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="testimonial-wrapper">
                                        <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante, commodo iacul viverra.</div>
                                        <div class="media">
                                            <img src="https://th.bing.com/th/id/OIP.nU5TSPr-A12T1A3rc-885QD6D6?pid=ImgDet&rs=1" class="mr-3" alt="">
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Martin Sommer</b></div>
                                                    <div class="details">SEO Analyst / RealSearch</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>										
                                            </div>
                                        </div>
                                    </div>								
                                </div>
                                <div class="col-sm-6">
                                    <div class="testimonial-wrapper">
                                        <div class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat faucibus, metus id mi gravida.</div>
                                        <div class="media">
                                            <img src="https://th.bing.com/th/id/OIP.CKoxejvfwiC9dEOWUn04GQHaFj?pid=ImgDet&w=1000&h=750&rs=1" class="mr-3" alt="">
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>John Williams</b></div>
                                                    <div class="details">Web Designer / UniqueDesign</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>										
                                            </div>
                                        </div>
                                    </div>								
                                </div>
                            </div>			
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer.ejs') %>